nav {
    position: fixed; /* Utrzymuje navbar na górze */
    top: 0; /* Ustawia navbar na górze */
    left: 0;
    width: 100%;
    background-color: #000; /* Czarny kolor tła */
    padding: 1rem;
    z-index: 1000; /* Upewnij się, że navbar jest nad innymi elementami */
    border-bottom: 2px solid #fff; /* Biała linia podkreślająca */
}

ul {
    list-style-type: none;
    display: flex; /* Flexbox dla układu */
    gap: 1rem; /* Odstęp między elementami listy */
    justify-content: flex-start; /* Wyrównuje linki do lewej */
    margin: 0;
    padding: 0;
    width: 100%; /* Umożliwia wykorzystanie pełnej szerokości */
}

li {
    margin: 0;
    padding: 0;
}

/* Klasa dla linku login */
.login {
    margin-left: auto; /* Przenosi element na koniec (prawo) */
    margin-right: 30px; /* Dodaje margines z prawej strony */
}

a {
    color: #fff; /* Biały kolor linków */
    text-decoration: none;
    padding: 0.5rem 1rem; /* Dodaje padding do linków */
    transition: background-color 0.3s; /* Animacja dla hover */
}

a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Efekt hover */
}
