.start-section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../images/background.svg');
    background-color: black; /* Czarne tło */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .content-wrapper {
    text-align: center;
    color: white;
    padding: 20px;
  }
  
  .main-heading {
    font-size: 3rem;
    margin: 0;
  }
  
  .description {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .cta-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .cta-button:hover {
    background-color: white;
    color: black;
  }
  
